<!--begin upload document form-->
<div>
    <form id="DocumentUpload">
        <span>Select File:</span>
        <input type="file" id="FileUpload1" />
        <hr />
        <input type="submit" value="Upload" />
        <br />
    </form>
</div>


<!--end upload document form-->
@*@using (Html.BeginForm("UploadDocument", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))*@


<script>
    $(document).ready(function () {

        $("#DocumentUpload").submit(function (e) {

            e.preventDefault();

            if (window.FormData !== undefined) { // Checking whether FormData is available in browser

                var fileUpload = $("#FileUpload1").get(0);

                //var files = input[type = file].files;

                var files = fileUpload.files;

                var fileData = new FormData();// Create FormData object

                for (var i = 0; i < files.length; i++) {// Looping over all files and add it to FormData object

                    fileData.append(files[i].name, files[i]);

                }

                $.ajax({
                    url: '/Document/UploadDocument',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (e) {
                        alert(e.message);

                        $("#resultView").load("/Document/LoadDocuments");


                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            }
            else {
                alert("FormData is not supported.");
            }
    });
    });


</script>
