@model Sligo.Areas.Area.Models.ViewModel.MailViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Mail</h2>
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-unobstrusive-ajax")
</head>
<body>
    <div>@Html.Partial("~/Areas/Area/Views/Mail/AddMail.cshtml")</div>
</body>
</html>
